In [1]:
getwd()

[1] "/Users/inkyoseo"

In [11]:
install.packages('reshape')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [12]:
install.packages('data.table')

Warning message in install.packages("data.table"):
“installation of package ‘data.table’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [13]:
install.packages('purrr')

Warning message in install.packages("purrr"):
“installation of package ‘purrr’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [2]:
setwd("/Users/inkyoseo/Desktop/Jupyter lab")

In [3]:
library(purrr)

In [4]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
library(data.table)

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

The following object is masked from ‘package:purrr’:

    transpose

In [6]:
library(reshape)

Attaching package: ‘reshape’

The following object is masked from ‘package:data.table’:

    melt

The following object is masked from ‘package:dplyr’:

    rename

# 청구지급상세사유정보 테이블

In [7]:
PMNT <- read.csv(file = "SDBSAMPLE_I_PT_PMNTDTL.csv", header = T, stringsAsFactors = T, sep = ",")

In [15]:
head(PMNT)

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908   1
2  735257   99192 6       5078789 2547    B2002        201910   1
3  259878  218505 6       9522937 2063    C1003        202004  12
4 1170722  986153 6       9304011 1941    C1003        201912  11
5 1234990 1398659 8       2956956 2947    A1007        202002   1
6 1595026 1344185 6       8932756  665    B2002        201912   1
  PMNT_DTL_SN PMNT_AMT
1 1             36
2 1            230
3 1           1600
4 1            150
5 1            160
6 1             10

In [16]:
colnames(PMNT)

 [1] "ACCD_SN"          "REQ_SN"           "SCTR_CD"          "POL_SN"
 [5] "VCTM_SN"          "PMNT_RESN_CD"     "PMNT_DT"          "PMNT_RESN_DTL_CD"
 [9] "PMNT_DTL_SN"      "PMNT_AMT"

In [17]:
str(PMNT)

Classes ‘data.table’ and 'data.frame':	7181 obs. of  10 variables:
 $ ACCD_SN         : int  798431 735257 259878 1170722 1234990 1595026 18124 1946240 1252605 474656 ...
 $ REQ_SN          : int  672648 99192 218505 986153 1398659 1344185 1784735 1640020 1208715 399239 ...
 $ SCTR_CD         : int  6 6 6 6 8 6 8 6 8 6 ...
 $ POL_SN          : int  9215977 5078789 9522937 9304011 2956956 8932756 280762 5479597 1355515 8012659 ...
 $ VCTM_SN         : int  665 2547 2063 1941 2947 665 652 260 2947 2456 ...
 $ PMNT_RESN_CD    : Factor w/ 46 levels "A1001","A1002",..: 9 26 38 38 7 26 29 41 7 42 ...
 $ PMNT_DT         : int  201908 201910 202004 201912 202002 201912 201906 201811 201810 201808 ...
 $ PMNT_RESN_DTL_CD: int  1 1 12 11 1 1 1 14 1 14 ...
 $ PMNT_DTL_SN     : int  1 1 1 1 1 1 1 1 1 1 ...
 $ PMNT_AMT        : int  36 230 1600 150 160 10 10 750 810 730 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [18]:
table(PMNT$PMNT_DT)

201806 201807 201808 201809 201810 201811 201812 201901 201902 201903 201904
    80    155    190    248    219    261    247    280    281    288    290
201905 201906 201907 201908 201909 201910 201911 201912 202001 202002 202003
   300    295    345    313    308    317    371    390    402    311    307
202004 202005 202006
   301    335    347

In [19]:
head(PMNT)

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908   1
2  735257   99192 6       5078789 2547    B2002        201910   1
3  259878  218505 6       9522937 2063    C1003        202004  12
4 1170722  986153 6       9304011 1941    C1003        201912  11
5 1234990 1398659 8       2956956 2947    A1007        202002   1
6 1595026 1344185 6       8932756  665    B2002        201912   1
  PMNT_DTL_SN PMNT_AMT
1 1             36
2 1            230
3 1           1600
4 1            150
5 1            160
6 1             10

In [24]:
# dplyr 
PMNT1 <- PMNT %>% filter(substr(PMNT_RESN_CD, 1,1) == 'A')
print('dplyr')
dim(PMNT1)
head(PMNT1)

# data.table : like(), %like%
PMNT <- data.table(PMNT)
PMNT1 <- PMNT[like(PMNT_RESN_CD, "A")] # or 
PMNT1 <- PMNT[PMNT_RESN_CD %like% "A"]
print('data.table')
dim(PMNT1)
head(PMNT1)

# data.table : patterns()
ptn.test <- PMNT[, .SD, .SDcol = patterns('_SN')]
head(ptn.test)

[1] "dplyr"

[1] 2097   10

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT
1 1            36
2 1           160
3 1           810
4 1           220
5 1           320
6 1           270

[1] "data.table"

[1] 2097   10

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT
1 1            36
2 1           160
3 1           810
4 1           220
5 1           320
6 1           270

  ACCD_SN REQ_SN  POL_SN  VCTM_SN PMNT_DTL_SN
1  798431  672648 9215977  665    1
2  735257   99192 5078789 2547    1
3  259878  218505 9522937 2063    1
4 1170722  986153 9304011 1941    1
5 1234990 1398659 2956956 2947    1
6 1595026 1344185 8932756  665    1

In [29]:
nrow(PMNT1)

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT
1 1            36
2 1           160
3 1           810
4 1           220
5 1           320
6 1           270

In [118]:
head(PMNT1)

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT
1 1            36
2 1           160
3 1           810
4 1           220
5 1           320
6 1           270

### 바르지 않은 예 "  ==  c(...) "

In [160]:
PMNT2 <- PMNT1 %>% dplyr::mutate('loss' = ifelse(.$PMNT_RESN_CD == c('A1001', 'A1002', 'A1003', 'A1004'), 'loss1', ifelse(.$PMNT_RESN_CD == c('A1005', 'A1006'), 'loss2', ifelse(.$PMNT_RESN_CD == c('A1007', 'A1008'), 'loss3', ifelse(.$PMNT_RESN_CD == c('A1009', 'A1010', 'A1011', 'A1012','A1013'), 'loss4', 'loss5')))))

Warning message in `==.default`(.$PMNT_RESN_CD, c("A1001", "A1002", "A1003", "A1004")):
“longer object length is not a multiple of shorter object length”Warning message in is.na(e1) | is.na(e2):
“longer object length is not a multiple of shorter object length”Warning message in `==.default`(.$PMNT_RESN_CD, c("A1005", "A1006")):
“longer object length is not a multiple of shorter object length”Warning message in is.na(e1) | is.na(e2):
“longer object length is not a multiple of shorter object length”Warning message in `==.default`(.$PMNT_RESN_CD, c("A1007", "A1008")):
“longer object length is not a multiple of shorter object length”Warning message in is.na(e1) | is.na(e2):
“longer object length is not a multiple of shorter object length”Warning message in `==.default`(.$PMNT_RESN_CD, c("A1009", "A1010", "A1011", "A1012", :
“longer object length is not a multiple of shorter object length”Warning message in is.na(e1) | is.na(e2):
“longer object length is not a multiple of shorter object length”

In [150]:
nrow(PMNT2)

[1] 2097

In [151]:
table(PMNT2$loss)

loss1 loss2 loss3 loss4 loss5
    6    93   135   134  1729

### 바른 예 "  %in%  c(...) "

In [154]:
print('PMNT1')
head(PMNT1)

# dplyr
PMNT3 <- PMNT1 %>% mutate('loss' = ifelse(PMNT_RESN_CD %in% c('A1001', 'A1002', 'A1003', 'A1004'), 'loss1', ifelse(PMNT_RESN_CD %in% c('A1005', 'A1006'), 'loss2', ifelse(PMNT_RESN_CD %in% c('A1007', 'A1008'), 'loss3', ifelse(PMNT_RESN_CD %in% c('A1009', 'A1010', 'A1011', 'A1012','A1013'), 'loss4', 'loss5')))))
print('dplyr')
dim(PMNT3)
head(PMNT3)

# data.table (lv1)
PMNT1 <- data.table(PMNT1)
loss1 <- c('A1001', 'A1002', 'A1003', 'A1004')
loss2 <- c('A1005', 'A1006')
loss3 <- c('A1007', 'A1008')
loss4 <- c('A1009', 'A1010', 'A1011', 'A1012','A1013')

PMNT3 <- PMNT1[, loss:= 'loss5'][ PMNT_RESN_CD %in% loss1, loss:='loss1'];
    PMNT1[ PMNT_RESN_CD %in% loss2, loss:='loss2'][ PMNT_RESN_CD %in% loss3, loss:='loss3'];
    PMNT1[ PMNT_RESN_CD %in% loss4, loss:='loss4']

print('data.table')
dim(PMNT3)
head(PMNT3)

# data.table (lv2) 
# - substring() , cut(vector, 커팅 벡터 , output), gsub(제거, 교체, vector)

#PMNT3_2 <- PMNT1[, strA := substring(PMNT_RESN_CD, 2,nchar(as.character(PMNT_RESN_CD)))][, loss := cut(as.numeric(strA), c(-Inf, 1004, 1005, 1008, 1013, Inf), paste0('loss', 1:5)) ]
PMNT3_2 <- PMNT1[, strA := gsub("[[:alpha:]]" ,"" , PMNT_RESN_CD) ][, loss := cut(as.numeric(strA), c(-Inf, 1004, 1005, 1008, 1013, Inf), paste0('loss', 1:5)) ]

head(PMNT3_2)

[1] "PMNT1"

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT loss  strA
1 1            36      loss4 1009
2 1           160      loss3 1007
3 1           810      loss3 1007
4 1           220      loss4 1011
5 1           320      loss3 1008
6 1           270      loss4 1009

[1] "dplyr"

[1] 2097   12

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT loss  strA
1 1            36      loss4 1009
2 1           160      loss3 1007
3 1           810      loss3 1007
4 1           220      loss4 1011
5 1           320      loss3 1008
6 1           270      loss4 1009

[1] "data.table"

[1] 2097   12

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT loss  strA
1 1            36      loss4 1009
2 1           160      loss3 1007
3 1           810      loss3 1007
4 1           220      loss4 1011
5 1           320      loss3 1008
6 1           270      loss4 1009

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT loss  strA
1 1            36      loss4 1009
2 1           160      loss3 1007
3 1           810      loss3 1007
4 1           220      loss4 1011
5 1           320      loss3 1008
6 1           270      loss4 1009

In [150]:
nrow(PMNT3)

[1] 2097

In [151]:
table(PMNT3$loss)

loss1 loss2 loss3 loss4 loss5
   28    31   414   759   865

In [152]:
head(PMNT3)

  ACCD_SN REQ_SN  SCTR_CD POL_SN  VCTM_SN PMNT_RESN_CD PMNT_DT PMNT_RESN_DTL_CD
1  798431  672648 6       9215977  665    A1009        201908  1
2 1234990 1398659 8       2956956 2947    A1007        202002  1
3 1252605 1208715 8       1355515 2947    A1007        201810  1
4 1862936  115150 8       2179540 1274    A1011        201812  1
5 1719803 1783087 6        585375 2547    A1008        201806  1
6   83572 1212218 6       3542131 2547    A1009        201910  1
  PMNT_DTL_SN PMNT_AMT loss  strA
1 1            36      loss4 1009
2 1           160      loss3 1007
3 1           810      loss3 1007
4 1           220      loss4 1011
5 1           320      loss3 1008
6 1           270      loss4 1009

In [153]:
# dplyr
PMNT4 <- PMNT3 %>% group_by(POL_SN, loss) %>% summarise(AMT = sum(PMNT_AMT))
print('dplyr')
head(PMNT4)

# data.table
PMNT4 <- copy(PMNT3[, .(AMT = sum(PMNT_AMT)), keyby=.(POL_SN, loss)])
print('data.table')
head(PMNT4)

[1] "dplyr"

  POL_SN loss  AMT
1  1107  loss4  180
2  7956  loss3  490
3  7956  loss4  199
4 18577  loss3 2970
5 18822  loss4  160
6 22907  loss3  240

[1] "data.table"

  POL_SN loss  AMT
1  1107  loss4  180
2  7956  loss3  490
3  7956  loss4  199
4 18577  loss3 2970
5 18822  loss4  160
6 22907  loss3  240

###  CASTING with aggregation function of summation

In [374]:
# dplyr
PMNT5 <- PMNT4 %>% reshape(timevar = 'loss', idvar = 'POL_SN', direction = 'wide')  %>% dplyr::rename('loss1' = 'AMT.loss1', 'loss2' = 'AMT.loss2', 'loss3' = 'AMT.loss3', 'loss4' = 'AMT.loss4', 'loss5' = 'AMT.loss5')
PMNT5[is.na(PMNT5)] <- 0
print('dplyr')
head(PMNT5)
nrow(PMNT5)

# data.table
PMNT5<-dcast(PMNT4, POL_SN ~ loss, fun.aggregate = sum)
print('data.table')
head(PMNT5)
nrow(PMNT5)

[1] "dplyr"

  POL_SN loss4 loss3 loss5 loss1 loss2
1  1107  180      0  0     0     0
2  7956  199    490  0     0     0
3 18577    0   2970  0     0     0
4 18822  160      0  0     0     0
5 22907  190    240  0     0     0
6 24705  670      0  0     0     0

[1] 1130

Using 'AMT' as value column. Use 'value.var' to override

[1] "data.table"

  POL_SN loss1 loss2 loss3 loss4 loss5
1  1107  0     0        0  180   0
2  7956  0     0      490  199   0
3 18577  0     0     2970    0   0
4 18822  0     0        0  160   0
5 22907  0     0      240  190   0
6 24705  0     0        0  670   0

[1] 1130

In [490]:
fwrite(PMNT5, "pay.csv")

# 보험담보정보 테이블
## 증권별 보험세부담보건수 및 세부담보금액
 * 담보건수 정의
    - CNT1 : A1 ~ A3 
    - CNT2 : A4
    - CNT3 : A5
    - CNT4 : A6 ~ A8
    - CNT5 : A90~A99
 * 담보금액 정의
    - AMT1 : A1 ~ A3 
    - AMT2 : A4
    - AMT3 : A5
    - AMT4 : A6 ~ A8
    - AMT5 : A90~A99

In [30]:
MGG <- fread(file = "SDBSAMPLE_I_CT_MGG_PVT.csv", header = T, stringsAsFactors = T, sep = ",")

In [451]:
head(MGG)

  JOIN_SN JOIN_SN_TYP SCTR_CD POL_SN  MGG_GRP_CD MGG_CD MGG_CNT MGG_AMT_SUM
1   23221 1           6       5844566 A5         A5302  1         540
2 1714104 1           6       9829672 A5         A5301  1         100
3 1374241 1           6       9885475 A3         A3300  1       10000
4 1067990 1           8       5361136 A7         A7300  1         100
5 1099805 1           6       2331847 A4         A4209  1       40000
6 1243249 1           6       3602204 A6         A6150  3         110
  MGG_AMT_MAX MGG_AMT_MIN ... YM_201909 YM_201910 YM_201911 YM_201912 YM_202001
1   540         540       ... 1         1         1         1         1
2   100         100       ... 1         1         1         1         1
3 10000       10000       ... 0         1         1         0         0
4   100         100       ... 1         1         1         1         1
5 40000       40000       ... 1         1         1         1         1
6   100         100       ... 0         0         0         0         0
  YM_202002 YM_202003 YM_202004 YM_202005 YM_202006
1 1         1         1         1         1
2 1         1         1         1         1
3 0         0         0         0         0
4 1         1         1         1         1
5 1         1         1         1         1
6 0         0         0         0         0

* 셈플 데이터에 YM_202006 까지만 있어 실제 데이터로 작업시 YM_202012로 수정해야 함

In [452]:
print('마지막 컬럼')
tail(colnames(MGG1))

print('행 갯수')
nrow(MGG1)

[1] "마지막 컬럼"

[1] "YM_202002" "YM_202003" "YM_202004" "YM_202005" "YM_202006" "mggnb"

[1] "행 갯수"

[1] 110352

In [453]:
# dplyr
print('dplyr')
MGG1 %>% group_by(MGG_GRP_CD) %>% count() %>% as.data.frame()

# data.table
print('data.table')
MGG1[, .(n = .N), by=MGG_GRP_CD][order(MGG_GRP_CD)]

[1] "dplyr"

   MGG_GRP_CD n
1  A1         12920
2  A3         14986
3  A4         31263
4  A5         21885
5  A6         15189
6  A7          1471
7  A8           248
8  A90           84
9  A91           44
10 A94         3980
11 A95         1150
12 A96         5428
13 A99         1704

[1] "data.table"

   MGG_GRP_CD n
1  A1         12920
2  A3         14986
3  A4         31263
4  A5         21885
5  A6         15189
6  A7          1471
7  A8           248
8  A90           84
9  A91           44
10 A94         3980
11 A95         1150
12 A96         5428
13 A99         1704

In [64]:
# dplyr
MGG2 <- MGG1 %>% mutate(CNT = ifelse(MGG_GRP_CD %in% c('A1', 'A2', 'A3'), 'CNT1', ifelse( MGG_GRP_CD == 'A4', 'CNT2' , 
                                                                      ifelse(MGG_GRP_CD == 'A5', 'CNT3', ifelse(MGG_GRP_CD %in% c('A6', 'A7', 'A8'), 'CNT4',
                                                                                                            ifelse(substr(MGG_GRP_CD, 1,2) == 'A9', 'CNT5', 0))))))
print('dplyr')
head(MGG2)

# data.table : 알파벳 제거(gsub) -> A9 까지만 남김 -> 숫자화(as.numeric) -> 범위별 값 설정(cut/paste0)
MGG1_dt <- setDT(MGG1)
MGG1_dt2 <- copy(MGG1_dt[, mggnb := gsub("[[:alpha:]]" ,"" , MGG_GRP_CD) ][mggnb < 10][, mggnb := lapply(.SD, as.numeric), .SDcol= 'mggnb'][, CNT := cut(mggnb, c(-Inf, 3, 4, 5, 8, Inf), paste0('CNT', 1:5))])
head(MGG1_dt2)

## (extra) gsub 대신 stringr
#install.packages('stringr')
#library(stringr)
numextract <- function(string){
    str_extract(string, "\\-*\\d+\\.*\\d*")
}
strr <- copy(MGG1_dt[, mggnb := numextract(MGG_GRP_CD)][mggnb < 10][, mggnb := lapply(.SD, as.numeric), .SDcol= 'mggnb'][, CNT := cut(mggnb, c(-Inf, 3, 4, 5, 8, Inf), paste0('CNT', 1:5))])
head(strr)

[1] "dplyr"

  JOIN_SN JOIN_SN_TYP SCTR_CD POL_SN  MGG_GRP_CD MGG_CD MGG_CNT MGG_AMT_SUM
1   23221 1           6       5844566 A5         A5302  1         540
2 1714104 1           6       9829672 A5         A5301  1         100
3 1067990 1           8       5361136 A7         A7300  1         100
4 1099805 1           6       2331847 A4         A4209  1       40000
5 1051588 1           8       2166976 A3         A3300  1       10000
6 1566757 1           6       2843696 A3         A3301  1       10000
  MGG_AMT_MAX MGG_AMT_MIN ... YM_201910 YM_201911 YM_201912 YM_202001 YM_202002
1   540         540       ... 1         1         1         1         1
2   100         100       ... 1         1         1         1         1
3   100         100       ... 1         1         1         1         1
4 40000       40000       ... 1         1         1         1         1
5 10000       10000       ... 0         0         0         0         0
6 10000       10000       ... 1         1         1         1         1
  YM_202003 YM_202004 YM_202005 YM_202006 CNT
1 1         1         1         1         CNT3
2 1         1         1         1         CNT3
3 1         1         1         1         CNT4
4 1         1         1         1         CNT2
5 0         0         0         1         CNT1
6 1         1         1         1         CNT1

  JOIN_SN JOIN_SN_TYP SCTR_CD POL_SN  MGG_GRP_CD MGG_CD MGG_CNT MGG_AMT_SUM
1 1289060 1           8       6408314 A1         A1300  1         5500
2  250382 1           6       8522010 A1         A1300  1       110000
3 1005863 1           8        405787 A1         A1100  1        24000
4  718796 1           6        766088 A1         A1400  1       110000
5  398559 1           6       8763039 A1         A1300  1        60000
6 1182918 1           8        548739 A1         A1300  1        24000
  MGG_AMT_MAX MGG_AMT_MIN ... YM_201911 YM_201912 YM_202001 YM_202002 YM_202003
1   5500        5500      ... 1         1         1         1         1
2 110000      110000      ... 0         0         0         0         0
3  24000       24000      ... 1         1         1         1         1
4 110000      110000      ... 0         1         1         1         0
5  60000       60000      ... 1         1         1         1         1
6  24000       24000      ... 1         1         1         1         1
  YM_202004 YM_202005 YM_202006 mggnb CNT
1 1         1         1         1     CNT1
2 0         1         1         1     CNT1
3 1         1         1         1     CNT1
4 1         1         1         1     CNT1
5 1         1         1         1     CNT1
6 1         1         1         1     CNT1

  JOIN_SN JOIN_SN_TYP SCTR_CD POL_SN  MGG_GRP_CD MGG_CD MGG_CNT MGG_AMT_SUM
1 1289060 1           8       6408314 A1         A1300  1         5500
2  250382 1           6       8522010 A1         A1300  1       110000
3 1005863 1           8        405787 A1         A1100  1        24000
4  718796 1           6        766088 A1         A1400  1       110000
5  398559 1           6       8763039 A1         A1300  1        60000
6 1182918 1           8        548739 A1         A1300  1        24000
  MGG_AMT_MAX MGG_AMT_MIN ... YM_201911 YM_201912 YM_202001 YM_202002 YM_202003
1   5500        5500      ... 1         1         1         1         1
2 110000      110000      ... 0         0         0         0         0
3  24000       24000      ... 1         1         1         1         1
4 110000      110000      ... 0         1         1         1         0
5  60000       60000      ... 1         1         1         1         1
6  24000       24000      ... 1         1         1         1         1
  YM_202004 YM_202005 YM_202006 mggnb CNT
1 1         1         1         1     CNT1
2 0         1         1         1     CNT1
3 1         1         1         1     CNT1
4 1         1         1         1     CNT1
5 1         1         1         1     CNT1
6 1         1         1         1     CNT1

In [174]:
table(MGG2$CNT)

 CNT1  CNT2  CNT3  CNT4  CNT5
27906 31263 21885 16908 12390

In [119]:
# dplyr
print('dplyr')
MGG3 <- MGG2 %>% mutate(AMT = ifelse(MGG_GRP_CD %in% c('A1', 'A2', 'A3'), 'AMT1', ifelse( MGG_GRP_CD == 'A4', 'AMT2' , 
                                                                      ifelse(MGG_GRP_CD == 'A5', 'AMT3', ifelse(MGG_GRP_CD %in% c('A6', 'A7', 'A8'), 'AMT4',
                                                                                                            ifelse(substr(MGG_GRP_CD, 1,2) == 'A9', 'AMT5', 0))))))

MGG4 <- MGG3 %>% subset(select = c('JOIN_SN', 'POL_SN', 'MGG_AMT_SUM','MGG_CNT', 'CNT', 'AMT'))
head(MGG4)

# data.table
print('data.table')
MGG2_dt <- data.table(MGG2)
myVector <- c('JOIN_SN', 'POL_SN', 'MGG_AMT_SUM','MGG_CNT', 'CNT', 'AMT')
MGG2_dt2<- MGG2_dt[, strA := gsub("[[:alpha:]]", "", MGG_GRP_CD)][as.numeric(strA) < 10][, AMT := cut(as.numeric(strA), c(-Inf, 3, 4, 5, 8,Inf), paste0("AMT", 1:5))][, ..myVector]
head(MGG2_dt2)

[1] "dplyr"

  JOIN_SN POL_SN  MGG_AMT_SUM MGG_CNT CNT  AMT
1   23221 5844566   540       1       CNT3 AMT3
2 1714104 9829672   100       1       CNT3 AMT3
3 1067990 5361136   100       1       CNT4 AMT4
4 1099805 2331847 40000       1       CNT2 AMT2
5 1051588 2166976 10000       1       CNT1 AMT1
6 1566757 2843696 10000       1       CNT1 AMT1

[1] "data.table"

  JOIN_SN POL_SN  MGG_AMT_SUM MGG_CNT CNT  AMT
1   23221 5844566   540       1       CNT3 AMT3
2 1714104 9829672   100       1       CNT3 AMT3
3 1067990 5361136   100       1       CNT4 AMT4
4 1099805 2331847 40000       1       CNT2 AMT2
5 1051588 2166976 10000       1       CNT1 AMT1
6 1566757 2843696 10000       1       CNT1 AMT1

In [126]:
# dplyr
MGG5_CNT <- MGG4 %>% 
    group_by(POL_SN, CNT) %>% 
    summarise( SCNT = sum(MGG_CNT)) %>% 
    as.data.frame() %>% 
    reshape(timevar = 'CNT', idvar = 'POL_SN', direction = 'wide') %>% 
    dplyr::rename('CNT1' = 'SCNT.CNT1', 'CNT2' = 'SCNT.CNT2', 'CNT3' = 'SCNT.CNT3', 'CNT4' = 'SCNT.CNT4', 'CNT5' = 'SCNT.CNT5')
MGG5_CNT[is.na(MGG5_CNT)] <- 0
print('dplyr')
dim(MGG5_CNT)
head(MGG5_CNT)

# data.table
MGG4_dt <- setDT(MGG4)
MGG4_dt1 <- copy(dcast(MGG4_dt, POL_SN ~ CNT, fun.agg=sum ,value.var = 'MGG_CNT'))
print('data.table')
dim(MGG4_dt1)
head(MGG4_dt1)

[1] "dplyr"

[1] 9453    6

   POL_SN CNT1 CNT3 CNT4 CNT2 CNT5
1   383   1     2   2    0    0
4  4607   0     0   0    6    0
5  5270   1     0   0    3    0
7  5571   3    12   3    4    6
12 5810   3     2   2    4    0
16 6236   2     6   9    5    2

[1] "data.table"

[1] 9453    6

  POL_SN CNT1 CNT2 CNT3 CNT4 CNT5
1  383   1    0     2   2    0
2 4607   0    6     0   0    0
3 5270   1    3     0   0    0
4 5571   3    4    12   3    6
5 5810   3    4     2   2    0
6 6236   2    5     6   9    2

In [128]:
# dplyr
MGG5_AMT <- MGG4 %>% 
    group_by(POL_SN, AMT) %>% 
    summarise( SAMT = sum(MGG_AMT_SUM)) %>% 
    as.data.frame() %>% 
    reshape(timevar = 'AMT', idvar = 'POL_SN', direction = 'wide') %>% 
    dplyr::rename('AMT1' = 'SAMT.AMT1', 'AMT2' = 'SAMT.AMT2', 'AMT3' = 'SAMT.AMT3', 'AMT4' = 'SAMT.AMT4', 'AMT5' = 'SAMT.AMT5')
MGG5_AMT[is.na(MGG5_AMT)] <- 0
print('dplyr')
dim(MGG5_AMT)
head(MGG5_AMT)

# data.table
MGG4_dt <- setDT(MGG4)
MGG4_dt2 <- copy(dcast(MGG4_dt, POL_SN ~ AMT, fun.agg=sum ,value.var = 'MGG_AMT_SUM'))
print('data.table')
dim(MGG4_dt2)
head(MGG4_dt2)

[1] "dplyr"

[1] 9453    6

   POL_SN AMT1   AMT3  AMT4 AMT2  AMT5
1   383    28000  9100 200      0     0
4  4607        0     0   0  92000     0
5  5270    23000     0   0  51000     0
7  5571   145000 28260 300   4230 19450
12 5810     5200  1560 200  65000     0
16 6236    20000 37840 800  96240  4100

[1] "data.table"

[1] 9453    6

  POL_SN AMT1   AMT2  AMT3  AMT4 AMT5
1  383    28000     0  9100 200      0
2 4607        0 92000     0   0      0
3 5270    23000 51000     0   0      0
4 5571   145000  4230 28260 300  19450
5 5810     5200 65000  1560 200      0
6 6236    20000 96240 37840 800   4100

In [338]:
MGG6 <- merge(MGG4_dt1, MGG4_dt2)

In [339]:
head(MGG6)

  POL_SN CNT1 CNT2 CNT3 CNT4 CNT5 AMT1   AMT2  AMT3  AMT4 AMT5
1  383   1    0     2   2    0     28000     0  9100 200      0
2 4607   0    6     0   0    0         0 92000     0   0      0
3 5270   1    3     0   0    0     23000 51000     0   0      0
4 5571   3    4    12   3    6    145000  4230 28260 300  19450
5 5810   3    4     2   2    0      5200 65000  1560 200      0
6 6236   2    5     6   9    2     20000 96240 37840 800   4100

In [235]:
fwrite(MGG6, "pol.csv")

# 보험계약정보 테이블
## 증권별 가입경로 및 계약체결
 * 계약개시 이후 2020년 12월까지 총 납입 보험료 산출
     - INS_CT_STAT_CD (계약상태)
     - CT_CNCLS_DT (계약가입년월)
     - CT_EFCTV_DT (계약실효년월)
     - CT_CNCLS_DT (계약해지년월)
     - CT_PY_PD (계약만기년월)

In [129]:
CONT <- fread(file = "SDBSAMPLE_I_CT_CONT_PVT.csv", header = T, stringsAsFactors = T, sep = ",")

In [130]:
head(CONT)

  SCTR_CD POL_SN  IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_TRMNT_DT
1 6       5044097 0          14         5              201811      999912
2 8       6269668 0          11         7              201411      201711
3 8       4285933 0          10         7              200703      201111
4 6       5051032 0           5         2              201611      999912
5 8       5404984 0          10         2              201108      999912
6 6       8606415 0           3         2              200612      999912
  CT_ST_DT CT_END_DT CT_EFCTV_DT ... YM_201909 YM_201910 YM_201911 YM_201912
1 201811   201811    999912      ... 1         1         1         1
2 201411   202411    999912      ... 1         1         1         1
3 200703   999912    999912      ... 1         1         1         1
4 201611   203111    999912      ... 1         1         1         1
5 201108   999912    999912      ... 1         1         1         1
6 200612   203811    999912      ... 0         0         0         0
  YM_202001 YM_202002 YM_202003 YM_202004 YM_202005 YM_202006
1 1         1         1         1         1         1
2 1         1         1         1         1         1
3 1         1         1         1         1         1
4 1         1         1         1         1         1
5 1         1         1         1         1         1
6 0         0         0         0         0         1

* 셈플 데이터 기준년월 누락
    - 임의 데이터 생성

In [131]:
n <- nrow(CONT)
head(sample(c(0,1), replace=TRUE, size=n))
set.seed(1)
CONT$YM_202012 <- sample(c(0,1), replace=TRUE, size=n)
table(CONT$YM_202012)
head(CONT)

[1] 0 1 0 0 0 0

    0     1
19354 19087

  SCTR_CD POL_SN  IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_TRMNT_DT
1 6       5044097 0          14         5              201811      999912
2 8       6269668 0          11         7              201411      201711
3 8       4285933 0          10         7              200703      201111
4 6       5051032 0           5         2              201611      999912
5 8       5404984 0          10         2              201108      999912
6 6       8606415 0           3         2              200612      999912
  CT_ST_DT CT_END_DT CT_EFCTV_DT ... YM_201910 YM_201911 YM_201912 YM_202001
1 201811   201811    999912      ... 1         1         1         1
2 201411   202411    999912      ... 1         1         1         1
3 200703   999912    999912      ... 1         1         1         1
4 201611   203111    999912      ... 1         1         1         1
5 201108   999912    999912      ... 1         1         1         1
6 200612   203811    999912      ... 0         0         0         0
  YM_202002 YM_202003 YM_202004 YM_202005 YM_202006 YM_202012
1 1         1         1         1         1         0
2 1         1         1         1         1         1
3 1         1         1         1         1         0
4 1         1         1         1         1         0
5 1         1         1         1         1         1
6 0         0         0         0         1         0

### 보험계약정보 테이블

In [545]:
options(repr.maxtrix.max.rows=10, repr.matrix.max.cols=100)

In [511]:
# dplyr
CONT1 <- CONT %>% filter(YM_202006 == 1 & INS_CT_STAT_CD == 2)
print('dplyr')
head(CONT1)

# data.table
CONT_dt <- setDT(CONT)
CONT_dt1 <- CONT_dt[YM_202006 == 1 & INS_CT_STAT_CD == 2]
print('data.table')
head(CONT_dt1)

[1] "dplyr"

  SCTR_CD POL_SN  IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_TRMNT_DT
1 6       5051032 0           5         2              201611      999912
2 8       5404984 0          10         2              201108      999912
3 6       8606415 0           3         2              200612      999912
4 6       9203625 0          13         2              201808      999912
5 8       9760630 0           2         2              201404      999912
6 3       3539890 0           4         2              201005      999912
  CT_ST_DT CT_END_DT CT_EFCTV_DT CT_RST_DT CT_PY_AMT CT_PY_CYCLE_CD CT_PY_PD
1 201611   203111    999912      999912     58       2              15
2 201108   999912    999912      999912     65       2              10
3 200612   203811    999912      999912    210       2              20
4 201808   203808    999912      999912     15       2              10
5 201404   202104    999912      999912     90       2               7
6 201005   203005    999912      999912      3       2              20
  IS_CT_DIGNS CT_JDGMT_CD CT_CHNL_CD YM_201806 YM_201807 YM_201808 YM_201809
1 1           4           3          1         1         1         1
2 0           1           1          1         1         1         1
3 0           1           1          0         0         0         0
4 0           1           7          0         0         0         1
5 0           1           6          1         1         1         1
6 0           1           1          1         1         1         1
  YM_201810 YM_201811 YM_201812 YM_201901 YM_201902 YM_201903 YM_201904
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         0
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 1         1         1         1         1         1         1
  YM_201905 YM_201906 YM_201907 YM_201908 YM_201909 YM_201910 YM_201911
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         0
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 1         1         1         1         1         1         1
  YM_201912 YM_202001 YM_202002 YM_202003 YM_202004 YM_202005 YM_202006
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         1
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 1         1         1         1         1         1         1
  YM_202012
1 0
2 1
3 0
4 0
5 0
6 1

[1] "data.table"

  SCTR_CD POL_SN  IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_TRMNT_DT
1 6       5051032 0           5         2              201611      999912
2 8       5404984 0          10         2              201108      999912
3 6       8606415 0           3         2              200612      999912
4 6       9203625 0          13         2              201808      999912
5 8       9760630 0           2         2              201404      999912
6 3       3539890 0           4         2              201005      999912
  CT_ST_DT CT_END_DT CT_EFCTV_DT CT_RST_DT CT_PY_AMT CT_PY_CYCLE_CD CT_PY_PD
1 201611   203111    999912      999912     58       2              15
2 201108   999912    999912      999912     65       2              10
3 200612   203811    999912      999912    210       2              20
4 201808   203808    999912      999912     15       2              10
5 201404   202104    999912      999912     90       2               7
6 201005   203005    999912      999912      3       2              20
  IS_CT_DIGNS CT_JDGMT_CD CT_CHNL_CD YM_201806 YM_201807 YM_201808 YM_201809
1 1           4           3          1         1         1         1
2 0           1           1          1         1         1         1
3 0           1           1          0         0         0         0
4 0           1           7          0         0         0         1
5 0           1           6          1         1         1         1
6 0           1           1          1         1         1         1
  YM_201810 YM_201811 YM_201812 YM_201901 YM_201902 YM_201903 YM_201904
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         0
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 1         1         1         1         1         1         1
  YM_201905 YM_201906 YM_201907 YM_201908 YM_201909 YM_201910 YM_201911
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         0
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 1         1         1         1         1         1         1
  YM_201912 YM_202001 YM_202002 YM_202003 YM_202004 YM_202005 YM_202006
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         1
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 1         1         1         1         1         1         1
  YM_202012
1 0
2 1
3 0
4 0
5 0
6 1

In [517]:
head(setDT(CONT1)[order(POL_SN)][, if(.N >4) .SD, by = POL_SN])

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_TRMNT_DT
1  501066 6       1          4          2              202002      999912
2  501066 6       1          4          2              202006      999912
3  501066 6       1          4          2              202003      999912
4  501066 6       1          4          2              202005      999912
5  501066 6       1          4          2              202004      999912
6 1471200 6       1          4          2              202005      999912
  CT_ST_DT CT_END_DT CT_EFCTV_DT CT_RST_DT CT_PY_AMT CT_PY_CYCLE_CD CT_PY_PD
1 202001   202101    999912      999912    1000      1              0
2 202005   202105    999912      999912    1000      1              0
3 202002   202102    999912      999912    1000      1              0
4 202004   202104    999912      999912    1000      1              0
5 202003   202103    999912      999912    1000      1              0
6 202004   202104    999912      999912    1000      1              0
  IS_CT_DIGNS CT_JDGMT_CD CT_CHNL_CD YM_201806 YM_201807 YM_201808 YM_201809
1 0           1           3          0         0         0         0
2 0           1           3          0         0         0         0
3 0           1           3          0         0         0         0
4 0           1           3          0         0         0         0
5 0           1           3          0         0         0         0
6 0           1           3          0         0         0         0
  YM_201810 YM_201811 YM_201812 YM_201901 YM_201902 YM_201903 YM_201904
1 0         0         0         0         0         0         0
2 0         0         0         0         0         0         0
3 0         0         0         0         0         0         0
4 0         0         0         0         0         0         0
5 0         0         0         0         0         0         0
6 0         0         0         0         0         0         0
  YM_201905 YM_201906 YM_201907 YM_201908 YM_201909 YM_201910 YM_201911
1 0         0         0         0         0         0         0
2 0         0         0         0         0         0         0
3 0         0         0         0         0         0         0
4 0         0         0         0         0         0         0
5 0         0         0         0         0         0         0
6 0         0         0         0         0         0         0
  YM_201912 YM_202001 YM_202002 YM_202003 YM_202004 YM_202005 YM_202006
1 0         0         1         1         1         1         1
2 0         0         0         0         0         0         1
3 0         0         0         1         1         1         1
4 0         0         0         0         0         1         1
5 0         0         0         0         1         1         1
6 0         0         0         0         0         1         1
  YM_202012
1 0
2 0
3 1
4 1
5 1
6 0

### YM_202006 == 1 & 상태코드 정상 & 최근보험시기월 중 보험료가 큰 index

In [525]:
CONT1_1 <- setDT(CONT1)

CONT1_2 <- CONT1_1[CONT1_1[, .I[CT_ST_DT == max(CT_ST_DT)], by=POL_SN]$V1]
CONT1_3 <- CONT1_2[CONT1_2[, .I[CT_PY_AMT == max(CT_PY_AMT)], by=POL_SN]$V1]

print('POL_SN -> unique')
n_distinct(CONT1_3$POL_SN)
nrow(CONT1_3)

[1] "POL_SN -> unique"

[1] 11493

[1] 11493

In [526]:
# dplyr
CONT2 <- CONT1_3 %>% 
    subset(select = c('POL_SN', 'SCTR_CD', 'IS_GRP_INS', 'INS_GBN_CD', 'INS_CT_STAT_CD', 'CT_CNCLS_DT', 'CT_EFCTV_DT', 'CT_PY_AMT', 'CT_PY_PD', 'CT_PY_CYCLE_CD', 'CT_CHNL_CD'))
print('dplyr')
head(CONT2)

# data.table
CONT2_dt <- as.data.table(CONT1_3)
CONT2_dt1 <- CONT2_dt[, c('POL_SN', 'SCTR_CD', 'IS_GRP_INS', 'INS_GBN_CD', 'INS_CT_STAT_CD', 'CT_CNCLS_DT', 'CT_EFCTV_DT', 'CT_PY_AMT', 'CT_PY_PD', 'CT_PY_CYCLE_CD', 'CT_CHNL_CD')]
print('data.table')
head(CONT2_dt1)

[1] "dplyr"

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      999912
2 5404984 8       0          10         2              201108      999912
3 8606415 6       0           3         2              200612      999912
4 9203625 6       0          13         2              201808      999912
5 9760630 8       0           2         2              201404      999912
6 3539890 3       0           4         2              201005      999912
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD
1  58       15       2              3
2  65       10       2              1
3 210       20       2              1
4  15       10       2              7
5  90        7       2              6
6   3       20       2              1

[1] "data.table"

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      999912
2 5404984 8       0          10         2              201108      999912
3 8606415 6       0           3         2              200612      999912
4 9203625 6       0          13         2              201808      999912
5 9760630 8       0           2         2              201404      999912
6 3539890 3       0           4         2              201005      999912
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD
1  58       15       2              3
2  65       10       2              1
3 210       20       2              1
4  15       10       2              7
5  90        7       2              6
6   3       20       2              1

In [527]:
# base R
table(CONT2$INS_CT_STAT_CD)

# data.table
CONT2_dt1[, .N , by=INS_CT_STAT_CD][order(INS_CT_STAT_CD)]

    2
11493

  INS_CT_STAT_CD N
1 2              11493

In [528]:
# dplyr
CONT3 <- CONT2 %>% filter(INS_CT_STAT_CD %in% c(2, 4, 5, 7), CT_PY_CYCLE_CD == 1)
print('CONT3')
dim(CONT3)
head(CONT3)

# data.table
CONT2.dt <- setDT(CONT2)
CONT2.dt1 <- CONT2.dt[ INS_CT_STAT_CD %in% c(2, 4, 5, 7) & CT_PY_CYCLE_CD == 1 ]
print('data.table')
dim(CONT2.dt1)
head(CONT2.dt1)

[1] "CONT3"

[1] 375  11

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 8370469 8       0          10         2              201112      999912
2 6780683 8       0           3         2              201409      999912
3 2080755 6       0          99         2              201909      999912
4 8156725 6       0          99         2              201812      999912
5 5480370 6       0          14         2              201910      999912
6 3692990 6       0          99         2              201712      999912
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD
1 5000      0        1               4
2 1100      0        1               1
3   20      0        1              99
4   14      0        1              99
5  460      0        1               1
6   18      0        1              99

[1] "data.table"

[1] 375  11

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 8370469 8       0          10         2              201112      999912
2 6780683 8       0           3         2              201409      999912
3 2080755 6       0          99         2              201909      999912
4 8156725 6       0          99         2              201812      999912
5 5480370 6       0          14         2              201910      999912
6 3692990 6       0          99         2              201712      999912
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD
1 5000      0        1               4
2 1100      0        1               1
3   20      0        1              99
4   14      0        1              99
5  460      0        1               1
6   18      0        1              99

In [529]:
str(CONT2)

Classes ‘data.table’ and 'data.frame':	11493 obs. of  11 variables:
 $ POL_SN        : int  5051032 5404984 8606415 9203625 9760630 3539890 8370469 6384825 7570304 4370234 ...
 $ SCTR_CD       : int  6 8 6 6 8 3 8 6 6 6 ...
 $ IS_GRP_INS    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ INS_GBN_CD    : int  5 10 3 13 2 4 10 4 3 4 ...
 $ INS_CT_STAT_CD: int  2 2 2 2 2 2 2 2 2 2 ...
 $ CT_CNCLS_DT   : int  201611 201108 200612 201808 201404 201005 201112 201604 201311 200810 ...
 $ CT_EFCTV_DT   : int  999912 999912 999912 999912 999912 999912 999912 999912 999912 999912 ...
 $ CT_PY_AMT     : int  58 65 210 15 90 3 5000 70 70 24 ...
 $ CT_PY_PD      : int  15 10 20 10 7 20 0 20 20 20 ...
 $ CT_PY_CYCLE_CD: int  2 2 2 2 2 2 1 2 2 2 ...
 $ CT_CHNL_CD    : int  3 1 1 7 6 1 4 3 3 2 ...
 - attr(*, ".internal.selfref")=<externalptr>
 - attr(*, "index")= int
  ..- attr(*, "__CT_PY_CYCLE_CD__INS_CT_STAT_CD")= int  7 69 100 106 108 111 128 151 172 183 ...

In [530]:
# 업권별 채널에 따른 보험 수
casting <- dcast(CONT2[, .N, keyby = c('SCTR_CD', 'CT_CHNL_CD')], CT_CHNL_CD ~ SCTR_CD, value.var = "N")[ ,setnames(.SD, c("3", "6", "8"), c('신용협동기구','손해보험사', '생명보험사'))]
casting

  CT_CHNL_CD 신용협동기구 손해보험사 생명보험사
1  1         717          2648       2115
2  2          NA           372        122
3  3          NA          1886        493
4  4          NA           183        592
5  5         249            20         50
6  6          12           662        893
7  7           4            59         20
8 99          NA           258        138

In [531]:
# 업권별 보험종류에 따른 보험 수
casting1 <- dcast(CONT2[, .N, keyby = c('SCTR_CD',  'INS_GBN_CD')], INS_GBN_CD ~ SCTR_CD, fun.agg = sum , value.var = "N")[ ,setnames(.SD, c("3", "6", "8"), c('신용협동기구','손해보험사', '생명보험사'))]
casting1

   INS_GBN_CD 신용협동기구 손해보험사 생명보험사
1   1          90             0       801
2   2          38             5        98
3   3         156          1415       918
4   4         126          1853       332
5   5         150           186       564
6   6          40            42        32
7   7         137          1084       520
8   8          23           131       124
9   9          18            21        67
10 10          44             3       454
11 11          92           120       343
12 12           6             0         6
13 13          17          1004         0
14 14           0            37         0
15 15           0             5         0
16 16          32             5        74
17 18          10            74         0
18 99           3           103        90

In [532]:
casting1 <- dcast(CONT2[, .N, keyby = c('CT_CHNL_CD',  'INS_GBN_CD')], INS_GBN_CD ~ CT_CHNL_CD, value.var = "N")[ ,setnames(.SD, c("1", "2", "3", "4", "5", "6", "7", "99" ), c('설계사','개인대리점', '법인대리점','방카슈랑스','임직원','TM','CM','기타'))]
casting1

   INS_GBN_CD 설계사 개인대리점 법인대리점 방카슈랑스 임직원 TM  CM 기타
1   1          650    34        127         28        12      28 NA  12
2   2           77     4         14         NA         2      41 NA   3
3   3         1390   166        525         83        39     262 12  12
4   4          760    95        727        129        74     289  5 232
5   5          339    10         66         53        37     368 11  16
6   6           81     4          6         13         6       4 NA  NA
7   7         1031    50        365         35        63     153  6  38
8   8           62     2         35          7         5     166 NA   1
9   9           28     2          3         46        23      NA  3   1
10 10          263    24         78         95        15      14 NA  12
11 11          148    11         69        249        32      44 NA   2
12 12            9    NA          1         NA        NA       2 NA  NA
13 13          417    65        285         14         2     169 37  32
14 14            3    13          4         NA         5      NA  6   6
15 15            2     1          1         NA         1      NA NA  NA
16 16          107    NA          2         NA        NA       2 NA  NA
17 18           51     1         16         11        NA       5 NA  NA
18 99           62    12         55         12         3      20  3  29

In [533]:
CONT3 <- CONT2 %>% mutate( prem = ifelse(INS_CT_STAT_CD == 2, 
                                        ((2020 - substr(CT_CNCLS_DT, 1, 4)*12 +(13-substr(CT_CNCLS_DT,5,6))))*CT_PY_AMT,
                                       ifelse(INS_CT_STAT_CD == 4, 
                                             ((substr(CT_EFCTV_DT, 1,4)-substr(CT_CNCLS_DT, 1,4))*12 + substr(CT_EFCTV_DT, 5,6) -substr(CT_EFCTV_DT, 5,6) )*CT_PYAMT,
                                             ifelse(INS_CT_STAT_CD == 7, 
                                                    ((substr(CT_EFCTV_DT,1,4) - substr(CT_CNCLS_DT,1,4))*12 + substr(CT_EFCTV_DT, 5,6) - substr(CT_CNCLS_DT, 5,6) ) * CT_PY_AMT,
                                                  ifelse(INS_CT_STAT_CD == 5, 
                                                        CT_PY_PD * 12 * CT_PY_AMT, 0 ) ) )))

ERROR: Error in substr(CT_CNCLS_DT, 1, 4) * 12: non-numeric argument to binary operator

## WHAT IS THE PROBLEM? LETS FIGURE IT OUT

In [534]:
#install.packages('zoo')
#library(zoo)
as.yearmon(as.character(201603), format='%Y%m')
head(as.Date(as.yearmon(as.character(CONT2$CT_EFCTV_DT), format='%Y%m')))

[1] "Mar 2016"

[1] "9999-12-01" "9999-12-01" "9999-12-01" "9999-12-01" "9999-12-01"
[6] "9999-12-01"

Warning message in install.packages("data.table", type = "source"):
“installation of package ‘data.table’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

R version 3.6.1 (2019-07-05)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS  10.16

Matrix products: default
BLAS/LAPACK: /Users/inkyoseo/opt/anaconda3/envs/RIJ/lib/R/lib/libRblas.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] zoo_1.8-6         stringr_1.4.0     reshape_0.8.8     data.table_1.12.2
[5] dplyr_0.8.0.1     purrr_0.3.2

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.1       magrittr_1.5     tidyselect_0.2.5 uuid_0.1-2
 [5] lattice_0.20-38  R6_2.4.0         rlang_0.3.4      plyr_1.8.4
 [9] tools_3.6.1      grid_3.6.1       htmltools_0.3.6  digest_0.6.18
[13] assertthat_0.2.1 tibble_2.1.1     crayon_1.3.4     IRdisplay_0.7.0
[17] reshape2_1.4.3   repr_0.19.2      base64enc_0.1-3  IRkernel_0.8.15
[21] glue_1.3.1       evaluate_0.13    stringi_1.4.3    pbdZMQ_0.3-3
[25] compiler_3.6.1   pillar_1.3.1     jsonlite_1.6     pkgconfig_2.0.2

In [672]:
library(data.table)
?fcase

No documentation for ‘fcase’ in specified packages and libraries:
you could try ‘??fcase’

In [676]:
# dplyr : nested ifelse'
CONT3 <- CONT2 %>% mutate(CT_EFCTV_DT = ifelse(CT_EFCTV_DT==999912, 202012, CT_EFCTV_DT))
CONT4 <- CONT3 %>% mutate( prem = ifelse(INS_CT_STAT_CD == 2, 
                                        ((2020 - as.numeric(substr(CT_CNCLS_DT, 1, 4)))*12 +(13-as.numeric(substr(CT_CNCLS_DT,5,6))))*CT_PY_AMT,
                                       ifelse(INS_CT_STAT_CD == 4, 
                                             ((as.numeric(substr(CT_EFCTV_DT, 1,4))-as.numeric(substr(CT_CNCLS_DT, 1,4)))*12 + as.numeric(substr(CT_EFCTV_DT, 5,6)) -as.numeric(substr(CT_EFCTV_DT, 5,6)) )*CT_PY_AMT,
                                             ifelse(INS_CT_STAT_CD == 7, 
                                                    ((as.numeric(substr(CT_EFCTV_DT,1,4)) - as.numeric(substr(CT_CNCLS_DT,1,4)))*12 + as.numeric(substr(CT_EFCTV_DT, 5,6)) - as.numeric(substr(CT_CNCLS_DT, 5,6)) ) * CT_PY_AMT,
                                                  ifelse(INS_CT_STAT_CD == 5, 
                                                        (CT_PY_PD * 12 * CT_PY_AMT), '0' ) ) )))
head(CONT4)

# dplyr - SQL style
CONT4 <- CONT3 %>% mutate( 
                        prem = case_when(
                        INS_CT_STAT_CD == 2 ~ ((2020 - as.numeric(substr(CT_CNCLS_DT, 1, 4)))*12 +(13-as.numeric(substr(CT_CNCLS_DT,5,6))))*CT_PY_AMT,
                        INS_CT_STAT_CD == 4 ~ ((as.numeric(substr(CT_EFCTV_DT, 1,4))-as.numeric(substr(CT_CNCLS_DT, 1,4)))*12 + as.numeric(substr(CT_EFCTV_DT, 5,6)) -as.numeric(substr(CT_EFCTV_DT, 5,6)) )*CT_PY_AMT,
                        INS_CT_STAT_CD == 7 ~ ((as.numeric(substr(CT_EFCTV_DT,1,4)) - as.numeric(substr(CT_CNCLS_DT,1,4)))*12 + as.numeric(substr(CT_EFCTV_DT, 5,6)) - as.numeric(substr(CT_CNCLS_DT, 5,6)) ) * CT_PY_AMT,
                        INS_CT_STAT_CD == 5 ~ (CT_PY_PD * 12 * CT_PY_AMT),
                        TRUE ~ 0))
head(CONT4)

# data.table - SQL style (used in R-studio)
CONT3 <- setDT(CONT2)[, CT_EFCTV_DT := fcase(
                CT_EFCTV_DT == 999912, 202012,
                defautl = CT_EFCTV_DT)] 
CONT4 <- setDT(CONT3)[, prem := fcase(
                        INS_CT_STAT_CD == 2, ((2020 - as.numeric(substr(CT_CNCLS_DT, 1, 4)))*12 +(13-as.numeric(substr(CT_CNCLS_DT,5,6))))*CT_PY_AMT,
                        INS_CT_STAT_CD == 4, ((as.numeric(substr(CT_EFCTV_DT, 1,4))-as.numeric(substr(CT_CNCLS_DT, 1,4)))*12 + as.numeric(substr(CT_EFCTV_DT, 5,6)) -as.numeric(substr(CT_EFCTV_DT, 5,6)) )*CT_PY_AMT,
                        INS_CT_STAT_CD == 7, ((as.numeric(substr(CT_EFCTV_DT,1,4)) - as.numeric(substr(CT_CNCLS_DT,1,4)))*12 + as.numeric(substr(CT_EFCTV_DT, 5,6)) - as.numeric(substr(CT_CNCLS_DT, 5,6)) ) * CT_PY_AMT,
                        INS_CT_STAT_CD == 5, (CT_PY_PD * 12 * CT_PY_AMT),
                        default = '0')]

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      202012
2 5404984 8       0          10         2              201108      202012
3 8606415 6       0           3         2              200612      202012
4 9203625 6       0          13         2              201808      202012
5 9760630 8       0           2         2              201404      202012
6 3539890 3       0           4         2              201005      202012
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD prem
1  58       15       2              3           2900
2  65       10       2              1           7345
3 210       20       2              1          35490
4  15       10       2              7            435
5  90        7       2              6           7290
6   3       20       2              1            384

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      202012
2 5404984 8       0          10         2              201108      202012
3 8606415 6       0           3         2              200612      202012
4 9203625 6       0          13         2              201808      202012
5 9760630 8       0           2         2              201404      202012
6 3539890 3       0           4         2              201005      202012
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD prem
1  58       15       2              3           2900
2  65       10       2              1           7345
3 210       20       2              1          35490
4  15       10       2              7            435
5  90        7       2              6           7290
6   3       20       2              1            384

ERROR: Error in fcase(CT_EFCTV_DT == 999912, 202012, defautl = CT_EFCTV_DT): could not find function "fcase"

- 0 또는 음수인 prem

In [536]:
CONT4 %>% count(prem>0)

  prem > 0 n
1 TRUE     11493

* Using a simple function - " as.numeric( substr( x,a,b) ) "

In [537]:
subnum <- function(x, a, b) {
    x <- substr(x, a, b)
    x <- as.numeric(x)
    return(x)
}

In [538]:
CONT5 <- CONT3 %>% mutate( prem = ifelse(INS_CT_STAT_CD == 2, 
                                        ((2020 - subnum(CT_CNCLS_DT, 1, 4))*12 +(13-subnum(CT_CNCLS_DT,5,6)))*CT_PY_AMT,
                                       ifelse(INS_CT_STAT_CD == 4, 
                                             ((subnum(CT_EFCTV_DT, 1,4)-subnum(CT_CNCLS_DT, 1,4))*12 + subnum(CT_EFCTV_DT, 5,6) -subnum(CT_EFCTV_DT, 5,6) )*CT_PY_AMT,
                                             ifelse(INS_CT_STAT_CD == 7, 
                                                    ((subnum(CT_EFCTV_DT,1,4) - subnum(CT_CNCLS_DT,1,4))*12 + subnum(CT_EFCTV_DT, 5,6) - subnum(CT_CNCLS_DT, 5,6) ) * CT_PY_AMT,
                                                  ifelse(INS_CT_STAT_CD == 5, 
                                                        (CT_PY_PD * 12 * CT_PY_AMT), '0' ) ) )))
head(CONT5)


# data.table
#prem_st2 <- "((2020 - subnum(CT_CNCLS_DT, 1, 4)*12 +(13-substr(CT_CNCLS_DT,5,6))))*CT_PY_AMT"
#prem_st4 <- ((subnum(CT_EFCTV_DT, 1,4)-subnum(CT_CNCLS_DT, 1,4))*12 + subnum(CT_EFCTV_DT, 5,6) -subnum(CT_EFCTV_DT, 5,6) )*CT_PYAMT

CONT3_dt <- setDT(CONT3)
CONT3_dt1 <- CONT3_dt[, prem := ifelse(INS_CT_STAT_CD == 2, 
                                        ((2020 - subnum(CT_CNCLS_DT, 1, 4))*12 +(13-subnum(CT_CNCLS_DT,5,6)))*CT_PY_AMT,
                                       ifelse(INS_CT_STAT_CD == 4, 
                                             ((subnum(CT_EFCTV_DT, 1,4)-subnum(CT_CNCLS_DT, 1,4))*12 + subnum(CT_EFCTV_DT, 5,6) -subnum(CT_EFCTV_DT, 5,6) )*CT_PY_AMT,
                                             ifelse(INS_CT_STAT_CD == 7, 
                                                    ((subnum(CT_EFCTV_DT,1,4) - subnum(CT_CNCLS_DT,1,4))*12 + subnum(CT_EFCTV_DT, 5,6) - subnum(CT_CNCLS_DT, 5,6) ) * CT_PY_AMT,
                                                  ifelse(INS_CT_STAT_CD == 5, 
                                                        (CT_PY_PD * 12 * CT_PY_AMT), '0' ) ) ))]
head(CONT3_dt1)

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      202012
2 5404984 8       0          10         2              201108      202012
3 8606415 6       0           3         2              200612      202012
4 9203625 6       0          13         2              201808      202012
5 9760630 8       0           2         2              201404      202012
6 3539890 3       0           4         2              201005      202012
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD prem
1  58       15       2              3           2900
2  65       10       2              1           7345
3 210       20       2              1          35490
4  15       10       2              7            435
5  90        7       2              6           7290
6   3       20       2              1            384

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      202012
2 5404984 8       0          10         2              201108      202012
3 8606415 6       0           3         2              200612      202012
4 9203625 6       0          13         2              201808      202012
5 9760630 8       0           2         2              201404      202012
6 3539890 3       0           4         2              201005      202012
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD prem
1  58       15       2              3           2900
2  65       10       2              1           7345
3 210       20       2              1          35490
4  15       10       2              7            435
5  90        7       2              6           7290
6   3       20       2              1            384

In [539]:
fwrite(CONT5, "gijun.csv")

* 'reduce' function in package 'purrr'

### Multiple Join' (in case of left join)

In [540]:
# dplyr/base left_join/Reduce

JOIN <- list(CONT5, MGG6, PMNT5) %>% reduce(left_join, by = 'POL_SN')
print('I. left_join in dplyr is used ')
dim(JOIN)
test1 <- Reduce(left_join, list(CONT5, MGG6, PMNT5)) # left_join : dplyr
print('II. left_join in dplyr is used ')
dim(test1)
test2 <- Reduce(function(...) left_join(...), list(CONT5, MGG6, PMNT5)) # same syntax as above
print('III. left_join in dplyr is used ')
dim(test2)                
                
# LEFT JOIN 기본 형태 in data.table
# y[x, on = "Id"]
# merge(x, y, all.x = TRUE, by = "Id")
# y[x]

# data.table in v1.9.5+ : no setkey required
new_dt <- PMNT5[MGG6, on = "POL_SN"][CONT5, on = "POL_SN"]
print('data.table in v1.9.5+')
dim(new_dt)
                
# data.table in v1.9.4 : must use setkey
setkey(MGG6, "POL_SN")
setkey(PMNT5, "POL_SN")
old_dt <- Reduce(function(x,y) y[x, allow.cartesian =TRUE], list(CONT5, MGG6, PMNT5))
print('data.table in v1.9.4')
dim(old_dt)

[1] "I. left_join in dplyr is used "

[1] 11493    27

Joining, by = "POL_SN"
Joining, by = "POL_SN"

[1] "II. left_join in dplyr is used "

[1] 11493    27

Joining, by = "POL_SN"
Joining, by = "POL_SN"

[1] "III. left_join in dplyr is used "

[1] 11493    27

[1] "data.table in v1.9.5+"

[1] 11493    27

[1] "data.table in v1.9.4"

[1] 11493    27

In [541]:
#list(CONT5, MGG6, PMNT5)
head(JOIN)

  POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT CT_EFCTV_DT
1 5051032 6       0           5         2              201611      202012
2 5404984 8       0          10         2              201108      202012
3 8606415 6       0           3         2              200612      202012
4 9203625 6       0          13         2              201808      202012
5 9760630 8       0           2         2              201404      202012
6 3539890 3       0           4         2              201005      202012
  CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD prem  CNT1 CNT2 CNT3 CNT4 CNT5
1  58       15       2              3           2900  2    3    0    0    0
2  65       10       2              1           7345 NA   NA   NA   NA   NA
3 210       20       2              1          35490 NA   NA   NA   NA   NA
4  15       10       2              7            435  2    0    0    0    0
5  90        7       2              6           7290  2    0    0    0    0
6   3       20       2              1            384  0    0    0    2    0
  AMT1   AMT2  AMT3 AMT4 AMT5 loss1 loss2 loss3 loss4 loss5
1 310000 72000  0     0   0   NA    NA    NA    NA    NA
2     NA    NA NA    NA  NA   NA    NA    NA    NA    NA
3     NA    NA NA    NA  NA   NA    NA    NA    NA    NA
4  23000     0  0     0   0   NA    NA    NA    NA    NA
5  59000     0  0     0   0   NA    NA    NA    NA    NA
6      0     0  0   200   0   NA    NA    NA    NA    NA

- NA 를 0 으로 처리

In [542]:
JOIN[is.na(JOIN)] <- 0

In [543]:
fwrite(JOIN, "JOIN_gijun_pay_pol")

In [549]:
n_distinct(JOIN$POL_SN)
nrow(JOIN)

[1] 11493

[1] 11493

# 신용정보 테이블
## 연체정보, 개인대출정보, 신용카드이용정보

### 연체정보

In [550]:
DLQ <- fread("SDBSAMPLE_A_DLQ.csv", header = T, stringsAsFactors = T, sep = ",")

In [551]:
head(DLQ)

  YM     JOIN_SN JOIN_SN_TYP BIZ_SN SCTR_CD COM_SN  IS_ME DLQ_CD_1 DLQ_CD_2
1 202004   56488 1           0      24      3941527 0     101      0
2 202004  818279 1           0       1      8576723 0     101      7
3 201909 1881966 1           0      24        11775 0     101      0
4 201911 1008217 1           0      24      6135237 0     101      0
5 201905 1227143 1           0       3      4800458 0     101      7
6 201901  877396 1           0       3      1832907 0     203      0
  DLQ_RGST_DT DLQ_RGST_AMT DLQ_AMT RLS_RSN_CD RLS_DT
1 201606      21000        11000    0              0
2 201205       2000         2000   99         201905
3 201601       3600         3600    0              0
4 201709        780          780    0              0
5 201301      10000        10000    0              0
6 201212       3200         3200    0              0

In [552]:
# dplyr
DLQ1 <- DLQ %>% subset(select = c('YM', 'JOIN_SN', 'DLQ_AMT', 'RLS_RSN_CD'))

# data.table
DLQ_dt <- DLQ[,c('YM', 'JOIN_SN', 'DLQ_AMT', 'RLS_RSN_CD')]

In [553]:
head(DLQ1)

  YM     JOIN_SN DLQ_AMT RLS_RSN_CD
1 202004   56488 11000    0
2 202004  818279  2000   99
3 201909 1881966  3600    0
4 201911 1008217   780    0
5 201905 1227143 10000    0
6 201901  877396  3200    0

In [554]:
# dplyr
print('dplyr')
DLQ1 %>% group_by(RLS_RSN_CD) %>% count() %>% as.data.frame(.)


# data.table
DLQ1_dt <- setDT(DLQ1)
DLQ1_dt1 <- DLQ1_dt[, .N , by = RLS_RSN_CD][order(RLS_RSN_CD)]
print('data.table')
DLQ1_dt1

[1] "dplyr"

  RLS_RSN_CD n
1  0         2903
2  1           27
3  6           13
4  7           24
5 10           12
6 14            9
7 16            4
8 99          264

[1] "data.table"

  RLS_RSN_CD N
1  0         2903
2  1           27
3  6           13
4  7           24
5 10           12
6 14            9
7 16            4
8 99          264

* RLS_RSN_CD = 0 : 연체중, 월별 하나 이상의 연체정보 SUM

In [555]:
# dplyr
DLQ2 <- DLQ1 %>% filter(RLS_RSN_CD == 0) %>% group_by(JOIN_SN, YM) %>% summarise(AMT = sum(DLQ_AMT)) %>% as.data.frame(.)
print('dplyr')
head(DLQ2)

# data.table
DLQ1_dt <- setDT(DLQ1)
DLQ1_dt1 <- DLQ1_dt[RLS_RSN_CD == 0][, .(AMT = sum(DLQ_AMT)), keyby  = c('JOIN_SN', 'YM')]
print('data.table')
head(DLQ1_dt1)

[1] "dplyr"

  JOIN_SN YM     AMT
1 18917   202002 1000
2 18917   202003 1200
3 18917   202004 5000
4 18917   202005 9800
5 18917   202006 8400
6 56488   201806 3600

[1] "data.table"

  JOIN_SN YM     AMT
1 18917   202002 1000
2 18917   202003 1200
3 18917   202004 5000
4 18917   202005 9800
5 18917   202006 8400
6 56488   201806 3600

In [556]:
colnames(DLQ2)

[1] "JOIN_SN" "YM"      "AMT"

In [557]:
head(DLQ2)

  JOIN_SN YM     AMT
1 18917   202002 1000
2 18917   202003 1200
3 18917   202004 5000
4 18917   202005 9800
5 18917   202006 8400
6 56488   201806 3600

* 월평균 연체금액

In [430]:
DLQ3 <- DLQ2 %>% group_by(JOIN_SN) %>% summarise(yunche = mean(AMT)) %>% as.data.frame(.)
print('dplyr')
head(DLQ3)

DLQ2_dt <- setDT(DLQ2)[, .(yunche = mean(AMT)), by = "JOIN_SN"]
print('data.table')
head(DLQ2_dt)

[1] "dplyr"

  JOIN_SN yunche
1  18917    5080.0
2  56488    9576.0
3  67310     180.0
4  70442     950.0
5 104701    1512.5
6 105484  110000.0

[1] "data.table"

  JOIN_SN yunche
1  18917    5080.0
2  56488    9576.0
3  67310     180.0
4  70442     950.0
5 104701    1512.5
6 105484  110000.0

In [431]:
fwrite(DLQ3, "yunche.csv")

### 대출정보 (대부업권)

In [433]:
SP <- fread("SDBSAMPLE_P_LN_SP.csv", header = T, stringsAsFactors = T, sep = ",")

In [438]:
SP1 <- SP %>% subset(select =c('JOIN_SN', 'LN_AMT') ) %>% group_by(JOIN_SN) %>% summarise(deachul = mean(LN_AMT)) %>% as.data.frame(.)
print('dplyr')
head(SP1)

DT <- setDT(SP)[, c('JOIN_SN', 'LN_AMT')][, .(deachul = mean(LN_AMT)), by = "JOIN_SN" ][order(JOIN_SN)]
print('data.table')
head(DT)

[1] "dplyr"

  JOIN_SN deachul
1   9212   1688.00
2  53824   5200.00
3  56488   9750.00
4 196289    721.00
5 207492  10666.67
6 232560   3300.00

[1] "data.table"

  JOIN_SN deachul
1   9212   1688.00
2  53824   5200.00
3  56488   9750.00
4 196289    721.00
5 207492  10666.67
6 232560   3300.00

### 대출정보 (금융업권)

In [439]:
LN <- fread("SDBSAMPLE_P_LN.csv", header = T, stringsAsFactors = T, sep = ",")

In [443]:
LN1 <- LN %>% subset(select = c('JOIN_SN', 'LN_AMT')) %>% group_by(JOIN_SN) %>% summarise(fdeachul = mean(LN_AMT)) %>% as.data.frame(.)
print('dplyr')
head(LN1)

LN_dt <- setDT(LN)[,c('JOIN_SN', 'LN_AMT')][, .(fdeachul = mean(LN_AMT)), by = "JOIN_SN"][order(JOIN_SN)]
print('data.table')
head(LN_dt)

[1] "dplyr"

  JOIN_SN fdeachul
1   44      1450.375
2  453      8968.750
3 2130    108160.000
4 2821      1398.000
5 3962     11108.696
6 5314      7714.634

[1] "data.table"

  JOIN_SN fdeachul
1   44      1450.375
2  453      8968.750
3 2130    108160.000
4 2821      1398.000
5 3962     11108.696
6 5314      7714.634

In [444]:
fwrite(LN1, "fdeachul.csv")

### 신용카드 이용정보
* 이용금액
    - 동일 년월에 발생한 이용정보들 별도처리 후 월별 평균이용금액
* 이용한도
    - 평균

In [559]:
USG <- fread("SDBSAMPLE_P_CD_USG.csv", header = T, stringsAsFactors = T, sep = ",")

In [560]:
colnames(USG)

 [1] "YM"          "JOIN_SN"     "JOIN_SN_TYP" "SCTR_CD"     "COM_SN"
 [6] "IS_ME"       "CD_USG_LMT"  "CD_CA_LMT"   "CD_USG_AMT"  "CD_CA_AMT"

In [561]:
USG1 <- USG[,c('YM', 'JOIN_SN', 'CD_CA_AMT')]

In [562]:
USG2 <- USG[,c('YM', 'JOIN_SN', 'CD_CA_LMT')]

In [563]:
USG1_1 <- USG1 %>% group_by(JOIN_SN, YM) %>% summarise(service = sum(CD_CA_AMT)) %>% as.data.frame()

In [564]:
head(USG1_1)

  JOIN_SN YM     service
1 44      201905 0
2 44      201906 0
3 44      201907 0
4 44      201908 0
5 44      201909 0
6 44      201910 0

In [565]:
USG1_2 <- USG1_1 %>% group_by(JOIN_SN) %>% summarise(service = mean(service)) %>% as.data.frame()

In [566]:
head(USG1_2)

  JOIN_SN service
1   44      0.0000
2  453    231.6667
3  488      0.0000
4  794      0.0000
5 2130      0.0000
6 3962      0.0000

In [567]:
USG2_1 <- USG2 %>% group_by(JOIN_SN) %>% summarise(service_lim = mean(CD_CA_LMT)) %>% as.data.frame()

In [568]:
head(USG2_1)

  JOIN_SN service_lim
1   44     4186.957
2  453     2416.667
3  488     6648.855
4  794     5157.143
5 2130     3968.000
6 3962    10552.000

In [569]:
USG3 <- merge(USG1_2, USG2_1)

In [570]:
head(USG3)

  JOIN_SN service  service_lim
1   44      0.0000  4186.957
2  453    231.6667  2416.667
3  488      0.0000  6648.855
4  794      0.0000  5157.143
5 2130      0.0000  3968.000
6 3962      0.0000 10552.000

In [571]:
fwrite(USG3, "service.csv")

## JOIN INSURANCE & CREDIT

In [578]:
ID <- MGG[,c('JOIN_SN', 'POL_SN')]
head(ID)

  JOIN_SN JOIN_SN_TYP SCTR_CD POL_SN  MGG_GRP_CD MGG_CD MGG_CNT MGG_AMT_SUM
1   23221 1           6       5844566 A5         A5302  1         540
2 1714104 1           6       9829672 A5         A5301  1         100
3 1374241 1           6       9885475 A3         A3300  1       10000
4 1067990 1           8       5361136 A7         A7300  1         100
5 1099805 1           6       2331847 A4         A4209  1       40000
6 1243249 1           6       3602204 A6         A6150  3         110
  MGG_AMT_MAX MGG_AMT_MIN YM_201806 YM_201807 YM_201808 YM_201809 YM_201810
1   540         540       1         1         1         1         1
2   100         100       1         1         1         1         1
3 10000       10000       0         0         0         0         0
4   100         100       1         1         1         1         1
5 40000       40000       0         0         0         1         1
6   100         100       0         0         0         0         0
  YM_201811 YM_201812 YM_201901 YM_201902 YM_201903 YM_201904 YM_201905
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         0         0         0
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 0         0         1         1         1         1         0
  YM_201906 YM_201907 YM_201908 YM_201909 YM_201910 YM_201911 YM_201912
1 1         1         1         1         1         1         1
2 1         1         1         1         1         1         1
3 0         0         0         0         1         1         0
4 1         1         1         1         1         1         1
5 1         1         1         1         1         1         1
6 0         0         0         0         0         0         0
  YM_202001 YM_202002 YM_202003 YM_202004 YM_202005 YM_202006
1 1         1         1         1         1         1
2 1         1         1         1         1         1
3 0         0         0         0         0         0
4 1         1         1         1         1         1
5 1         1         1         1         1         1
6 0         0         0         0         0         0

  JOIN_SN POL_SN
1   23221 5844566
2 1714104 9829672
3 1374241 9885475
4 1067990 5361136
5 1099805 2331847
6 1243249 3602204

In [580]:
JOIN_ID <- list(JOIN, ID) %>% reduce(left_join, by = 'POL_SN')
TJOIN1 <- list(JOIN_ID, USG3,LN1, SP1, DLQ3 ) %>% reduce(left_join, by = 'JOIN_SN')
print('JOIN')
n_distinct(TJOIN1$JOIN_SN)
n_distinct(TJOIN1$POL_SN)
dim(TJOIN1)

[1] "JOIN"

[1] 4387

[1] 11493

[1] 120188     33

# *** 데이터 탐색

#### SKIMMING

In [600]:
TJ <- setDT(TJOIN1)[order(JOIN_SN, POL_SN)][JOIN_SN != 'NA']
TJ[is.na(TJ)] <- 0
unique(TJ)[order(JOIN_SN, POL_SN)]#[, c('POL_SN', 'SCTR_CD', 'INS_GBN_CD', 'CT_CNCLS_DT', 'CT_PY_PD', 'CT_CHNL_CD', 'JOIN_SN')]

      POL_SN  SCTR_CD IS_GRP_INS INS_GBN_CD INS_CT_STAT_CD CT_CNCLS_DT
1     6680267 6       0           3         2              201306
2       65859 6       0           5         2              201912
3     1205750 6       0          13         2              201812
4     4623216 6       0          99         2              202002
5     6575838 6       0           4         2              201910
6     7336996 6       0           3         2              201908
7     8651386 6       0           5         2              201905
8     2470615 8       0           1         2              200803
9     7154309 8       0          11         2              201306
10     939833 6       0           4         2              201612
11    1109948 6       0           7         2              200808
12    5950951 6       0           4         2              201903
13    6212674 3       0          16         2              201206
14    7576566 3       0          13         2              201208
15    9109606 8       0           3         2              201601
16    1505693 3       0          11         2              201204
17    6082043 3       0          10         2              201708
18    7083246 3       0          11         2              201407
19    7180128 3       0          11         2              201407
20       9529 6       0          13         2              201911
21    9812929 8       0          16         2              201112
22    9834062 8       0           1         2              200910
23     286990 6       0           7         2              201809
24    6523959 6       0          18         2              201706
25    7849656 6       0           4         2              201402
26    9234793 6       0           4         2              200708
27    2260159 8       0           3         2              201207
28    3958785 8       0           8         2              201505
29     364891 6       0           3         2              201302
30    2590746 6       0           4         2              201506
...   ...     ...     ...        ...        ...            ...
10050 5439826 6       0           5         2              201706
10051 5896052 8       0           4         2              201908
10052 8283143 6       0           4         2              200901
10053 8692358 6       0           4         2              201106
10054 9021808 8       0          10         2              201510
10055 3420481 8       0           4         2              201908
10056 6700753 6       0          13         2              201903
10057  655009 6       0          13         2              201101
10058 5928818 8       0           1         2              201609
10059 3942396 8       0          11         2              201909
10060 6168716 8       0           4         2              202006
10061 7547334 8       0          10         2              202002
10062 7842951 8       0          11         2              201008
10063 2695631 8       0           1         2              201901
10064 3687656 6       0           4         2              201707
10065 4146225 8       0           3         2              201707
10066 4649465 8       0          11         2              201406
10067 7188762 6       0           4         2              201003
10068  446399 6       0          13         2              201601
10069 1600223 8       0           1         2              200910
10070 2928002 8       0           1         2              200712
10071 4863894 8       0           5         2              201903
10072 5538462 8       0           5         2              201805
10073 6873600 8       0           2         2              200708
10074 7115218 6       0           3         2              201401
10075 8103024 8       0           3         2              200902
10076 4135747 6       0           3         2              201202
10077 6226554 6       0           5         2              201602
10078 7471357 6       0           3         2              201405
10079 9057152 6       0           7         2              201402
      CT_EFCTV_DT CT_PY_AMT CT_PY_PD CT_PY_CYCLE_CD CT_CHNL_CD prem   CNT1 CNT2
1     202012       46       30       2              3           4186   4    6
2     202012       28       20       2              6            364   0    7
3     202012       21       20       2              6            525   4    3
4     202012       29       20       2              6            319   4    0
5     202012       28       20       2              6            420   2    0
6     202012       29       20       2              6            493   2    3
7     202012       33       20       2              6            660   0   10
8     202012       44       24       2              1           6776   3    3
9     202012       80       10       2              4           7280   4    0
10    202012      100       20       2              3           4900   7    8
11    202012       37       15       2              6           5513   2    0
12    202012       89       20       2              4           1958   5    6
13    202012       38       20       2              1           3914   1    1
14    202012        8       20       2              1            808   3    0
15    202012      130       10       2              4           7800   5    9
16    202012      210        7       2              1          22050   2    0
17    202012      320        5       2              1          13120   2    0
18    202012      250       10       2              1          19500   2    0
19    202012      370       10       2              1          28860   2    0
20    202012       32       20       2              1            448   0    4
21    202012       29        3       2              1           3161   2    0
22    202012      120       20       2              1          16200   4    4
23    202012       50       20       2              1           1400   2    0
24    202012       45       10       2              4           1935   0    1
25    202012      130       20       2              2          10790   7   11
26    202012       63       20       2              2          10143  10    0
27    202012      110       20       2              1          11220   2    6
28    202012       45        5       2              6           3060   0    0
29    202012       58       10       2              1           5510   5    0
30    202012       16       10       2              3           1072   2    5
...   ...         ...       ...      ...            ...        ...    ...  ...
10050 202012        25      33       2               1           1075  3    2
10051 202012         1       0       1               5             17  1    0
10052 202012        49      20       2              99           7056  9    6
10053 202012       110       5       2               4          12650  2    0
10054 202012      5000       0       1               1         315000  2    0
10055 202012       330       1       3               4           5610  4    2
10056 202012        27      15       2               1            594  2    4
10057 202012        45      10       2               1           5400  2    2
10058 202012      5000       0       1               3         260000  4    0
10059 202012      5000       0       1               4          80000 11    0
10060 202012        65       5       2               4            455  3    0
10061 202012      5000       0       1               4          55000  1    0
10062 202012       140      10       2               4          17500  2    0
10063 202012       130      33       2               6           3120  7    4
10064 202012        56      20       2               4           2352  1    7
10065 202012        29      10       2               6           1218  0    3
10066 202012       170      10       2               4          13430  2    0
10067 202012        26      20       2               6           3380  2    3
10068 202012        24      20       2               6           1440  5    1
10069 202012       550      20       2               1          74250  2    0
10070 202012       680      10       2               1         106760  5    9
10071 202012       150      30       2               1           3300  1    2
10072 202012        27      10       2               6            864  0    6
10073 202012       380      20       2               3          61180  1    0
10074 202012       170      25       2               1          14280  8   12
10075 202012       170      20       2               1          24310  3    6
10076 202012       130      20       2               3          13910  7   12
10077 202012        32      15       2               3           1888  0    3
10078 202012        72      20       2               3           5760  0    1
10079 202012        78      30       2               1           6474  6   21
      CNT3 CNT4 CNT5 AMT1    AMT2   AMT3   AMT4  AMT5  loss1 loss2 loss3 loss4
1      4   3     3   250000   77660  7260    310 12210 0     0     0      0
2      1   3     4        0   74300   550    170   100 0     0     0      0
3      6   2     2   120000     660  8400    200  1210 0     0     0      0
4      2   2    11   140000       0   440    200   630 0     0     0      0
5      7   9     0    66000       0  4180    770     0 0     0     0      0
6      2   4     4    20000   33000   440    400   130 0     0     0      0
7      0   1     0        0  173300     0    100     0 0     0     0      0
8      3   3     0    94000   20000  2400    300     0 0     0     0      0
9      0   0     0    44000       0     0      0     0 0     0     0      0
10    19   0     2   156800   45760 58120      0   400 0     0     0      0
11     0   0     0     2200       0     0      0     0 0     0     0      0
12     9   6     1   130000   81000 18200    600  2700 0     0     0      0
13     0   0     0    10000     270     0      0     0 0     0     0      0
14     1   1     3   109000       0   100    100 22300 0     0     0      0
15     3   4     0   173000  158760 46540    400     0 0     0     0      0
16     0   0     0     4400       0     0      0     0 0     0     0      0
17     0   0     0     8000       0     0      0     0 0     0     0      0
18     0   0     0     6400       0     0      0     0 0     0     0      0
19     0   0     0     9600       0     0      0     0 0     0     0      0
20     6   2    10        0    2350  2980    200 15810 0     0     0      0
21     0   0     0    18000       0     0      0     0 0     0     0      0
22     2   4     0    56000   63180  8100    400     0 0     0     0      0
23     0   0     0    18000       0     0      0     0 0     0     0      0
24     0   0     0        0     180     0      0     0 0     0     0      0
25    12   7     1   296200  126950 12730    710  1100 0     0     0     66
26     5   2     0   502000       0 71500   1110     0 0     0     0      0
27     3   1     0    78000  120000 33000  20000     0 0     0     0      0
28     0   0     3        0       0     0      0  1560 0     0     0      0
29     0   0     0   166800       0     0      0     0 0     0     0      0
30     0   0     1    16000   24800     0      0   120 0     0     0      0
...   ...  ...  ...  ...     ...    ...    ...   ...   ...   ...   ...   ...
10050  0    0    0     35200  39600      0    0      0 0     0     0     0
10051  0    0    0     10000      0      0    0      0 0     0     0     0
10052  8    0    2    173000  34880  11760    0   1200 0     0     0     0
10053  0    0    1      2200      0      0    0   1100 0     0     0     0
10054  0    0    0      3400      0      0    0      0 0     0     0     0
10055  1    2    0    260000    540    270  200      0 0     0     0     0
10056  1    1    8     99000   1370    900  100  24560 0     0     0     0
10057  1    2    4    100000    540    450  370   1280 0     0     0     0
10058  0    0    0    120000      0      0    0      0 0     0     0     0
10059  0    0    0     71500      0      0    0      0 0     0     0     0
10060  0    0    0     45000      0      0    0      0 0     0     0     0
10061  0    0    0       650      0      0    0      0 0     0     0     0
10062  0    0    0     40000      0      0    0      0 0     0     0     0
10063  5    3    0    290000  42260   4080  300      0 0     0     0     0
10064  0    0    0     55000  91300      0    0      0 0     0     0     0
10065  5    6    0         0 110330  26070  600      0 0     0     0     0
10066  0    0    0      1680      0      0    0      0 0     0     0     0
10067  4    0    2     32000    990  44100    0   1200 0     0     0     0
10068  5    1    4    270000    120   7540  100   2760 0     0     0     0
10069  0    0    0   1000000      0      0    0      0 0     0     0     0
10070  6    5    0    860000 180240  61200  500      0 0     0     0     0
10071  0    0    0     12000 156000      0    0      0 0     0     0     0
10072  0    0    0         0 280000      0    0      0 0     0     0     0
10073  0    0    0    100000      0      0    0      0 0     0     0     0
10074 17    6    3    292000 193800  80520  660   1440 0     0     0     0
10075  3    3    0    230000 430240 100400  300      0 0     0     0     0
10076 11    2    5    110000  60300  63100  200   9800 0     0     0     0
10077  0    0    0         0  24000      0    0      0 0     0     0     0
10078  0    0    0         0  24000      0    0      0 0     0     0     0
10079 20   10   11     54000 298660 129990 1020  14100 0     0     0     0
      loss5 JOIN_SN service  service_lim fdeachul   deachul yunche
1     0       44      0.0000  4186.957     1450.375 0       0
2     0      453    231.6667  2416.667     8968.750 0       0
3     0      453    231.6667  2416.667     8968.750 0       0
4     0      453    231.6667  2416.667     8968.750 0       0
5     0      453    231.6667  2416.667     8968.750 0       0
6     0      453    231.6667  2416.667     8968.750 0       0
7     0      453    231.6667  2416.667     8968.750 0       0
8     0      488      0.0000  6648.855        0.000 0       0
9     0      488      0.0000  6648.855        0.000 0       0
10    0      603      0.0000     0.000        0.000 0       0
11    0      759      0.0000     0.000        0.000 0       0
12    0      794      0.0000  5157.143        0.000 0       0
13    0      794      0.0000  5157.143        0.000 0       0
14    0      794      0.0000  5157.143        0.000 0       0
15    0      794      0.0000  5157.143        0.000 0       0
16    0      800      0.0000     0.000        0.000 0       0
17    0      800      0.0000     0.000        0.000 0       0
18    0      800      0.0000     0.000        0.000 0       0
19    0      800      0.0000     0.000        0.000 0       0
20    0     2130      0.0000  3968.000   108160.000 0       0
21    0     2130      0.0000  3968.000   108160.000 0       0
22    0     2130      0.0000  3968.000   108160.000 0       0
23    0     2821      0.0000     0.000     1398.000 0       0
24    0     2821      0.0000     0.000     1398.000 0       0
25    0     3263      0.0000     0.000        0.000 0       0
26    0     3263      0.0000     0.000        0.000 0       0
27    0     3962      0.0000 10552.000    11108.696 0       0
28    0     3962      0.0000 10552.000    11108.696 0       0
29    0     4073      0.0000     0.000        0.000 0       0
30    0     4073      0.0000     0.000        0.000 0       0
...   ...   ...     ...      ...         ...        ...     ...
10050  0    1957319 0        5521.622        0.00   0       0
10051  0    1957319 0        5521.622        0.00   0       0
10052  0    1957319 0        5521.622        0.00   0       0
10053  0    1957319 0        5521.622        0.00   0       0
10054  0    1957319 0        5521.622        0.00   0       0
10055  0    1957335 0           0.000     9000.00   0       0
10056  0    1957335 0           0.000     9000.00   0       0
10057 90    1957568 0        2200.000        0.00   0       0
10058  0    1957568 0        2200.000        0.00   0       0
10059  0    1958180 0           0.000        0.00   0       0
10060  0    1958180 0           0.000        0.00   0       0
10061  0    1958180 0           0.000        0.00   0       0
10062  0    1958180 0           0.000        0.00   0       0
10063  0    1958342 0           0.000        0.00   0       0
10064  0    1958887 0           0.000        0.00   0       0
10065  0    1958887 0           0.000        0.00   0       0
10066  0    1958887 0           0.000        0.00   0       0
10067  0    1958887 0           0.000        0.00   0       0
10068  0    1959058 0        2300.000        0.00   0       0
10069  0    1959058 0        2300.000        0.00   0       0
10070  0    1959058 0        2300.000        0.00   0       0
10071  0    1959058 0        2300.000        0.00   0       0
10072  0    1959058 0        2300.000        0.00   0       0
10073  0    1959058 0        2300.000        0.00   0       0
10074  0    1959058 0        2300.000        0.00   0       0
10075  0    1959058 0        2300.000        0.00   0       0
10076  0    1959358 0        7656.643    21641.03   0       0
10077  0    1959358 0        7656.643    21641.03   0       0
10078  0    1959358 0        7656.643    21641.03   0       0
10079  0    1959417 0           0.000        0.00   0       0

#### ZOOM IN

In [599]:
unique(TJ)[order(JOIN_SN, POL_SN)][, c('POL_SN', 'SCTR_CD', 'INS_GBN_CD', 'CT_CNCLS_DT', 'CT_PY_PD', 'CT_CHNL_CD', 'JOIN_SN')]

      POL_SN  SCTR_CD INS_GBN_CD CT_CNCLS_DT CT_PY_PD CT_CHNL_CD JOIN_SN
1     6680267 6        3         201306      30       3            44
2       65859 6        5         201912      20       6           453
3     1205750 6       13         201812      20       6           453
4     4623216 6       99         202002      20       6           453
5     6575838 6        4         201910      20       6           453
6     7336996 6        3         201908      20       6           453
7     8651386 6        5         201905      20       6           453
8     2470615 8        1         200803      24       1           488
9     7154309 8       11         201306      10       4           488
10     939833 6        4         201612      20       3           603
11    1109948 6        7         200808      15       6           759
12    5950951 6        4         201903      20       4           794
13    6212674 3       16         201206      20       1           794
14    7576566 3       13         201208      20       1           794
15    9109606 8        3         201601      10       4           794
16    1505693 3       11         201204       7       1           800
17    6082043 3       10         201708       5       1           800
18    7083246 3       11         201407      10       1           800
19    7180128 3       11         201407      10       1           800
20       9529 6       13         201911      20       1          2130
21    9812929 8       16         201112       3       1          2130
22    9834062 8        1         200910      20       1          2130
23     286990 6        7         201809      20       1          2821
24    6523959 6       18         201706      10       4          2821
25    7849656 6        4         201402      20       2          3263
26    9234793 6        4         200708      20       2          3263
27    2260159 8        3         201207      20       1          3962
28    3958785 8        8         201505       5       6          3962
29     364891 6        3         201302      10       1          4073
30    2590746 6        4         201506      10       3          4073
...   ...     ...     ...        ...         ...      ...        ...
10050 5439826 6        5         201706      33        1         1957319
10051 5896052 8        4         201908       0        5         1957319
10052 8283143 6        4         200901      20       99         1957319
10053 8692358 6        4         201106       5        4         1957319
10054 9021808 8       10         201510       0        1         1957319
10055 3420481 8        4         201908       1        4         1957335
10056 6700753 6       13         201903      15        1         1957335
10057  655009 6       13         201101      10        1         1957568
10058 5928818 8        1         201609       0        3         1957568
10059 3942396 8       11         201909       0        4         1958180
10060 6168716 8        4         202006       5        4         1958180
10061 7547334 8       10         202002       0        4         1958180
10062 7842951 8       11         201008      10        4         1958180
10063 2695631 8        1         201901      33        6         1958342
10064 3687656 6        4         201707      20        4         1958887
10065 4146225 8        3         201707      10        6         1958887
10066 4649465 8       11         201406      10        4         1958887
10067 7188762 6        4         201003      20        6         1958887
10068  446399 6       13         201601      20        6         1959058
10069 1600223 8        1         200910      20        1         1959058
10070 2928002 8        1         200712      10        1         1959058
10071 4863894 8        5         201903      30        1         1959058
10072 5538462 8        5         201805      10        6         1959058
10073 6873600 8        2         200708      20        3         1959058
10074 7115218 6        3         201401      25        1         1959058
10075 8103024 8        3         200902      20        1         1959058
10076 4135747 6        3         201202      20        3         1959358
10077 6226554 6        5         201602      15        3         1959358
10078 7471357 6        3         201405      20        3         1959358
10079 9057152 6        7         201402      30        1         1959417

### 증권 2개 이상 집단 탐색

In [659]:
TJ1 <- unique(TJ)

TJ2 <- TJ1[order(JOIN_SN, POL_SN)
        ][ , lapply(.SD, as.numeric), by=.(loss1, loss2, loss3, loss4, loss5)
            ][, SUMloss := (loss1 + loss2 + loss3 + loss4 + loss5) 
                 ][, c('POL_SN', 'SCTR_CD', 'INS_GBN_CD', 'CT_CNCLS_DT', 'CT_PY_PD', 'CT_CHNL_CD', 'JOIN_SN')
                           ][order(JOIN_SN)
                                ][, if(.N > 1) .SD, by = JOIN_SN]
print("미청구 포함 증번 및 차주")
dim(TJ2)
n_distinct(TJ2$JOIN_SN)
head(TJ2)
TJ2_nz <- TJ1[order(JOIN_SN, POL_SN)
        ][ , lapply(.SD, as.numeric), by=.(loss1, loss2, loss3, loss4, loss5)
            ][, SUMloss := (loss1 + loss2 + loss3 + loss4 + loss5)
                ][SUMloss > 0
                 ][, c('POL_SN', 'SCTR_CD', 'INS_GBN_CD', 'CT_CNCLS_DT', 'CT_PY_PD', 'CT_CHNL_CD', 'JOIN_SN')
                           ][order(JOIN_SN)
                                ][, if(.N > 1) .SD, by = JOIN_SN]
print('청구가 한번이라도 일어난 증번 및 차주')
dim(TJ2_nz)
n_distinct(TJ2_nz$JOIN_SN)                                  
head(TJ2_nz)

[1] "미청구 포함 증번 및 차주"

[1] 8202    7

[1] 2509

  JOIN_SN POL_SN  SCTR_CD INS_GBN_CD CT_CNCLS_DT CT_PY_PD CT_CHNL_CD
1 453       65859 6        5         201912      20       6
2 453     1205750 6       13         201812      20       6
3 453     4623216 6       99         202002      20       6
4 453     6575838 6        4         201910      20       6
5 453     7336996 6        3         201908      20       6
6 453     8651386 6        5         201905      20       6

[1] "청구가 한번이라도 일어난 증번 및 차주"

[1] 226   7

[1] 96

  JOIN_SN POL_SN  SCTR_CD INS_GBN_CD CT_CNCLS_DT CT_PY_PD CT_CHNL_CD
1 27752   6471836 8       1          200612      20       1
2 27752   7222581 6       4          201111      20       3
3 32127   7748610 6       3          201005      20       3
4 32127   9803686 8       7          201404      20       3
5 91452   3190492 8       1          201804      20       1
6 91452   4212670 8       7          201703      30       6

In [660]:
TJ3 <- TJ2[, c('SCTR_CD', 'INS_GBN_CD', 'CT_CHNL_CD', 'JOIN_SN')]
dim(TJ3)
TJ4 <- unique(TJ3)
print(' 차주가 보유한 증권들 중 SCTR_CD, INS_GBN_CD, CT_CHNL_CD 가 모두 같을때 다른 열 더하거나 최대값으로 줄임 ') # 적용 할 사항1
dim(TJ4)
head(TJ4)

TJ2_nz1 <- TJ2_nz[, c('SCTR_CD', 'INS_GBN_CD', 'CT_CHNL_CD', 'JOIN_SN')]
dim(TJ2_nz1)
TJ2_nz2 <- unique(TJ2_nz1)
print(' 1번 이상 청구가 일어난 증번 한정 차주가 보유한 증권들 중 SCTR_CD, INS_GBN_CD, CT_CHNL_CD 가 모두 같을때 다른 열 더하거나 최대값으로 줄임 ') # 적용 할 사항1
dim(TJ2_nz2)
head(TJ2_nz2)

[1] 8202    4

[1] " 차주가 보유한 증권들 중 SCTR_CD, INS_GBN_CD, CT_CHNL_CD 가 모두 같을때 다른 열 더하거나 최대값으로 줄임 "

[1] 7224    4

  SCTR_CD INS_GBN_CD CT_CHNL_CD JOIN_SN
1 6        5         6          453
2 6       13         6          453
3 6       99         6          453
4 6        4         6          453
5 6        3         6          453
6 8        1         1          488

[1] 226   4

[1] " 1번 이상 청구가 일어난 증번 한정 차주가 보유한 증권들 중 SCTR_CD, INS_GBN_CD, CT_CHNL_CD 가 모두 같을때 다른 열 더하거나 최대값으로 줄임 "

[1] 215   4

  SCTR_CD INS_GBN_CD CT_CHNL_CD JOIN_SN
1 8       1          1          27752
2 6       4          3          27752
3 6       3          3          32127
4 8       7          3          32127
5 8       1          1          91452
6 8       7          6          91452

# 분석 I. 청구가 일어난 경우, 보험료 대비 청구액

### 1. 업권코드 / 보험종류 선택하여 개별 분석(Group화 하여 분석한다)

### 2. 업권코드/보험종류 선택하지 않을 경우, 아래를 가정하여 하나의 계약자를 여럿으로 나눈다. 
### 가정 설정 : 채널별 보험료합 비율로 신용 데이터를 자른다
* 채널이 같을때 (보험/신용) = (SUM) / (MAX)
* 채널이 다를 경우 (보험/신용) = (SUMgroup1), (SUMgroup2), ...  /  (MAX/SUM * SUMgroup1), (MAX/SUM * SUMgroup2), ...

### Grouped Regression for 분석 I-1

In [449]:
DT <- setDT(   ) 
y <-  
x1 <-
x2 <-
grouped <- 

# Overall coefficient for comparison
overall_coef <- DT[, coef(glm(y ~ x))['x'], by = grouped]

# plot
CONT2[, if(.N > 20L) .(w_coef = coef(lm(y~ x))['x']), by = grouped
     ][, hist(w_coef, 100L, las = 1L,
             xlab = "x",
             ylab = "y", col = 'darkgreen',
             main = "x on y")]
abline(v = overall_coef, lty = 2L, col = 'red')

ERROR: Error in setDT(): argument "name" is missing, with no default

In [681]:
## 분석 II. (청구가 일어남1/청구가 일어나지 않음0)

In [683]:
### logit/probit/extreme link model